 body {
    background-color: #fff5f7; 
    margin: 0;
    padding:0;
    min-height: 100vh;
  }

  .nav {
    background-color:#ffedf1;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainContainer {
    position: relative;
    min-height: 60vh;
    padding-top: 25px;
    text-align: center;
  }
  .footer {
    position: relative;
    display: flex;
    background-color:#54004b;
    height: 30px;
    padding: 10px;
    box-shadow: 0 100vh, 0 100vh #54004b;
  }  
  .backup {
    position: absolute;    
    z-index:1;    
    left: 20px;
  }
  .about {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
  .homeImg {
    margin: 20px;
    height: 100px;
    width: auto;
  }
  .tabDiv {
    display: flex;
    justify-content:space-between;
    margin-left: 10%;
    margin-right: 10%;
    border: solid black 3px;
    
  }
  
  .tabBtn {
    width: 50%;
  }
  
  .tCPP {
    margin-left: 10%;
    margin-right: 10%;
    border: solid black 3px;
  }

  .divRow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dashBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    border-radius: 10px;
    margin: 25px;
    width: 300px;
    height: 200px;
    transition: 0.2s;
  }
  .dashBtn:hover {
    transform: scale(1.1);
    filter: brightness(90%);
    cursor: pointer;
  }
  
  .dashBtn:active {
    transform: scale(1.05);
  }
